body {
  background-color: rgb(25, 25, 25);
  color: white;
  font-family: Arial;
}
header{margin-top: 20px;}
header a {
  text-decoration: none;
  color: #04AA6D;
  
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  border: 2px solid #04AA6D;
  border-radius: 5px;
  background-color: #e9f5ff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

header a:hover {
  background-color: #007bff;
  color: white;
}

.title {
  font-size: 30px;
  font-weight: bold;
}

.move-icon {
  height: 50px;
}

.move-button {
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}

.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}

.score {
  margin-top: 60px;
}

.reset-score-button ,
.auto-play-css {
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
  margin: 5px;
}
